<div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username">Username</label>
      <input id="username" type="text" formControlName="username" placeholder="Username">

      @if (username?.touched && loginForm.get('username')?.errors?.['required']) {
        <span>Username is required.</span>
      }

      <label for="password">Password</label>
      <input id="password" type="password" formControlName="password" placeholder="Password">

      @if (password?.touched && loginForm.get('password')?.errors?.['required']) {
        <span>Password is required.</span>
      }
    </div>
    <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
